<%- include('partials/top') %> 

<title><%= title %></title>

<%- include('partials/middle') %> 

<h1><%= title %> </h1>

<ul>
    <% if (genre_list.length > 0) { %>
        <% genre_list.forEach(genre => { %>
                <li>
                    <a href="<%= genre.url %>"><%= genre.name %> </a>
                </li>
            <% }) %>
    <% } %>
</ul>

<%- include('partials/bottom') %> 