<%- include('partials/_top') %>

<title><%= title %></title>

<%- include('partials/_middle') %> 

<h1><%= title %> </h1>

<form action="" method="post">  
    <!-- Since the action is '', the data is sent to the page's own URL -->
    <div class="form-group">
        <label for="name">Genre:</label>
        <% if (genre) { %>
            <input type="text" id="name" class="form-control" placeholder="Fantasy, 
            Poetry, etc." name="name" value="<%= genre.name %>" />
        <% } else { %>
            <input type="text" id="name" class="form-control" placeholder="Fantasy, 
            Poetry, etc." name="name" value="" />
        <% } %>
        <!-- The value will always be empty if called from the GET route since it is a new 
        form, but if called from a POST route it will contain the (invalid) value 
        originally entered by the user -->
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if (errors) { %>
    <ul>
        <% errors.forEach(error => { %>
            <%= error.msg %> 
        <% }) %>
    </ul>
<% } %> 
<%- include('partials/_bottom') %>